In [1]:
import setup_django
setup_django.init()

In [4]:
from movies.models import Movie

qs = Movie.objects.all().values("title", "release_date", "rating_avg", "rating_count")
qs

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('3.23'), 'rating_count': 26}, {'title': 'Shadows in Paradise', 'release_date': datetime.date(1986, 10, 16), 'rating_avg': Decimal('3.18'), 'rating_count': 17}, {'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('2.94'), 'rating_count': 16}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('2.79'), 'rating_count': 19}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('3.17'), 'rating_count': 24}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('3.39'), 'rating_count': 18}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('2.71'), 'rating_count': 21}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': Decimal('2.63'), 'rating_count': 19}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('3.11'), 'rating_count': 9}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': Decimal('2.68'), 'rating_count': 22}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': Decimal('3.00'), 'rating_count': 12}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': Decimal('2.61'), 'rating_count': 18}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': Decimal('2.56'), 'rating_count': 16}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': Decimal('2.64'), 'rating_count': 11}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': Decimal('2.92'), 'rating_count': 13}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': Decimal('2.86'), 'rating_count': 22}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': Decimal('3.22'), 'rating_count': 23}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': Decimal('3.38'), 'rating_count': 13}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': Decimal('2.71'), 'rating_count': 14}, {'title': '9 Songs', 'release_date': datetime.date(2004, 7, 16), 'rating_avg': Decimal('3.48'), 'rating_count': 21}, '...(remaining elements truncated)...']>

In [10]:
import pandas as pd

In [12]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       3.23            26
1  Shadows in Paradise   1986-10-16       3.18            17
2           Four Rooms   1995-12-09       2.94            16
3       Judgment Night   1993-10-15       2.79            19
4            Star Wars   1977-05-25       3.17            24
5         Finding Nemo   2003-05-30       3.39            18
6         Forrest Gump   1994-07-06       2.71            21
7      American Beauty   1999-09-15       2.63            19
8         Citizen Kane   1941-04-30       3.11             9
9   Dancer in the Dark   2000-05-17       2.68            22

In [13]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('3.23'),
 'rating_count': 26}

In [ ]:
df.to_csv()